<!doctype html>
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" ng-app = "carfix">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="CarFix main webpage">
<meta name="keywords" content="Cars, mechanical, workshop">
<meta name="author" content="ajzs.093@gmail.com">
<meta name="author" content="yayohack@gmail.com">
<link rel="shortcut icon" href="img/favicon.ico">
<title>Car-Fix Garage</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen" />
<!-- Custom styles for this template -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/jquery.bxslider.css" type="text/css" media="screen" />
<link href="css/jquery.fancybox.css" rel="stylesheet">
<link href="css/jquery.selectbox.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/mobile.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/ts.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?AIzaSyCDg2qnamNzLfz8ogmDCgMg80-LYPkOyX8&amp;sensor=false"></script>
<script src="js/angular.js"></script>
<script src="js/app.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>

<body>
<!--Header Start-->
<header  data-spy="affix" data-offset-top="1" class="clearfix">
    <section class="toolbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 left_bar">
                    <ul class="left-none">
                        <li><a href="#"><i class="fa fa-user"></i> Login</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 ">
                    <ul class="right-none pull-right company_info">
                        <li><a href="tel:18001234567"><i class="fa fa-phone"></i> 1-800-123-4567</a></li>
                        <li class="address"><a href="/contact"><i class="fa fa-map-marker"></i> 137 Las Torres St., Zapopan, Jalisco 44037</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="toolbar_shadow"></div>
    </section>
    <div class="bottom-header" >
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid"> 
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="/"><span class="logo"><span class="primary_text">Car-Fix</span> <span class="secondary_text">Garage</span></span></a> </div>
                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/client">Clients</a></li>
                            <li><a href="/cars">Cars</a></li>
                            <li><a href="/about">About US</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse --> 
                </div>
                <!-- /.container-fluid --> 
            </nav>
        </div>
        <div class="header_shadow"></div>
    </div>
</header>
<!--Header End-->

<div class="clearfix"></div>
<section id="secondary-banner" class="dynamic-image-4"><!--for other images just change the class name of this section block like, class="dynamic-image-2" and add css for the changed class-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <h2>Clients</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li>Clients</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--#secondary-banner ends-->
<div class="message-shadow"></div>
<div class="clearfix"></div>
<section class="content">
    <div class="container">
        <div class="inner-page services">
            <div class="row">
                <div class="consider padding-bottom-40 clearfix" ng-controller="getData">
                    <form>
                        <div class="row" ng-show="!detailedView">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search a client" ng-model="searchClient">
                            </div>      
                        </div>
                    </form>
                    <h2>Client directory</h2>
                        <accordion  close-others="false">
                            <accordion-group ng-repeat="cliente in clientes | orderBy:sortType:sortReverse | filter:searchClient">
                                <accordion-heading>
                                    <i class="fa fa-user"></i> {{cliente.name}} | <i class="fa fa-phone"></i> {{cliente.phone}} | <i class="fa fa-envelope-o"></i> {{cliente.email}}
                                </accordion-heading>
                                    <table class="table table-bordered table-striped" style="margin-left: 10px; margin-right: -10px; margin-top: 10px; margin-bottom: 10px;">
                                            <thead>
                                            <tr>
                                                <th>Brand</th>
                                                <th>Model</th>
                                                <th>Year</th>
                                                <th>Plates</th>
                                            </tr>
                                        </thead>
                                            <tbody ng-repeat="car in cliente.cars" ng-bind-html="cliente.cars">
                                                    <tr>
                                                        <td><a href="" ng-click="getDetails(cliente.name, car.brand)">{{car.brand}}</a></td>
                                                        <td>{{car.model}}</td>
                                                        <td>{{car.year}}</td>
                                                        <td>{{car.plates}}</td>
                                                    </tr>
                                            </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button class="addCar" data-toggle="modal" data-target="#myModal2" ng-click="setName(cliente.name)">Add car</button>
                                        </div>
                                    </div>
                            </accordion-group>
                        </accordion>
                            <br>
                            <div class="row">
                                <button type="button" class="btn fa fa-user-plus fa-3x" data-toggle="modal" data-target="#myModal"></button>
                            </div>
                        </div>
                        <div class="row" ng-show="detailedView">
                            <div class="row">
                                <hr>
                                <h3>Client information</h3>
                                <div class="col-lg-3">
                                    <b>Client name:</b> {{clickedName}}
                                </div>
                                <div class="col-lg-3">                                        
                                    <b>Client address: </b>{{clickedAddress}}
                                </div>
                                <div class="col-lg-3">
                                    <b>Client phone: </b>{{clickedPhone}}
                                </div>
                                <div class="col-lg-3">
                                    <b>Client email: </b> <a href="mailto:{{clickedEmail}}?Subject=Carfix" target="_top">{{clickedEmail}}</a> 
                                </div>
                            </div>
                            <hr>
                            <br>

                            <div ng-repeat= "car in clickedCar">
                                <div ng-if="car.brand == brand">
                            <div class="row">
                                <h3>Car details</h3>
                                <div class="col-lg-3">
                                    <b>Car brand: </b> 
                                    <span>{{car.brand}}</span>
                                </div>
                                <div class="col-lg-3">
                                    <b>Car model: </b> 
                                    <span>{{car.model}}</span>
                                </div>
                                <div class="col-lg-3">
                                    <b>Car year: </b> 
                                    <span>{{car.year}}</span>
                                </div>
                                <div class="col-lg-3">
                                    <b>Car kilometers: </b> 
                                    <span>{{car.kilometers}}</span>
                                </div>
                                <div class="col-lg-3">
                                    <b>Car plates: </b> 
                                    <span>{{car.plates}}</span>
                                </div>
                                <div class="col-lg-3">
                                    <b>Car serial number: </b> 
                                    <span>{{car.sn}}</span>
                                </div>
                                <div class="col-lg-3">
                                    <b>Car color: </b> 
                                    <span>{{car.color}}</span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-lg-12"> 
                                <table class="table table-bordered table-striped" style="margin-top:10px;">
                                <thead>
                                  <tr>
                                    <td>
                                      <a href="" ng-click="sortType = 'car.service'; sortReverse = !sortReverse">
                                        Service
                                        <span ng-show="sortType == 'car.service' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'car.service' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </td>
                                    <td>
                                      <a href="" ng-click="sortType = 'car.cost'; sortReverse = !sortReverse">
                                      Cost
                                        <span ng-show="sortType == 'car.cost' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'car.cost' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </td>
                                    <td>
                                      <a href="" ng-click="sortType = 'car.mechanic'; sortReverse = !sortReverse">
                                      Mechanic
                                        <span ng-show="sortType == 'car.mechanic' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'car.mechanic' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </td>
                                      <td>
                                      <a href="" ng-click="sortType = 'car.date'; sortReverse = !sortReverse">
                                      Date
                                        <span ng-show="sortType == 'car.date' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'car.date' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </td>
                                  </tr>
                                </thead>
                                    <tbody>
                                        <tr ng-repeat= "service in car.services | orderBy:sortType:sortReverse">
                                            <td>{{service.service}}</td>
                                            <td>{{service.cost}}</td>
                                            <td>{{service.mechanic}}</td>
                                            <td>{{service.date}}</td>
                                        </div>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button>Add service</button>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-10"><a href="" ng-click="detailedView=false"><i class="fa fa-chevron-left"></i>Back</a></div>
                        </div>
                </div>



                <!-- Modal Client -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Adding new client</h4>
                      </div>
                      <div class="modal-body">
                        <div class="error" ng-show="error">
                            {{errors[0]}}
                        </div>
                        <form name="frm">
                            <div class="row">
                                <div class="col-lg-2">Name:</div>      
                                <div class="col-lg-7"><input type="text" id="name" name="name" placeholder="Enter the name" ng-model="name" required></div>
                                <div class="col-md-3"><span ng-show="frm.name.$dirty && frm.name.$error.required">Field required!</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">Address:</div>   
                                <div class="col-lg-7"><input type="text" id="address" name="address" placeholder="Enter the address" ng-model="address" required></div>
                                <div class="col-md-3"><span ng-show="frm.address.$dirty && frm.address.$error.required">Field required!</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">Phone:</div>     
                                <div class="col-lg-7"><input type="text" id="phone" name="phone" placeholder="Enter the phone" ng-model="phone" required ng-minlength="6" ng-maxlength="10" required></div>
                                <div class="col-md-3">
                                    <span ng-show="frm.phone.$dirty && frm.phone.$error.minlength">Too short!</span>
                                    <span ng-show="frm.phone.$dirty && frm.phone.$error.maxlength">Too long!</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">Email:</div>     
                                <div class="col-lg-7"><input type="text" id="email" name="email" placeholder="Enter the email(optional)" ng-model="email"></div>
                                <div class="col-md-3"> <span ng-show="frm.email.$dirty && frm.email.$error.email">Not an email!</span> </div>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="save" type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal client ends-->

                <!-- Modal car-->
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Adding new car</h4>
                      </div>
                      <div class="modal-body">
                        <div class="error" ng-show="error">
                            {{errors[0]}}
                        </div>
                        <form name="frm">
                            <div class="row">
                                <div class="col-lg-3">Brand:</div>      
                                <div class="col-lg-6"><input type="text" id="brand" name="brand" placeholder="Enter the brand" ng-model="brand" size= "50" required></div>
                                <div class="col-md-3"><span ng-show="frm.brand.$dirty && frm.brand.$error.required">Field required!</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">Model:</div>   
                                <div class="col-lg-6"><input type="text" id="model" name="model" placeholder="Enter the model" ng-model="model" required></div>
                                <div class="col-md-3"><span ng-show="frm.model.$dirty && frm.model.$error.required">Field required!</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">Year:</div>   
                                <div class="col-lg-6"><input type="text" id="year" name="year" placeholder="Enter the year" ng-model="year" required></div>
                                <div class="col-md-3"><span ng-show="frm.year.$dirty && frm.year.$error.required">Field required!</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">Plates:</div>   
                                <div class="col-lg-6"><input type="text" id="plates" name="plates" placeholder="Enter the plates" ng-model="plates" required></div>
                                <div class="col-md-3"><span ng-show="frm.plates.$dirty && frm.plates.$error.required">Field required!</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">Serial number:</div>   
                                <div class="col-lg-6"><input type="text" id="sn" name="sn" placeholder="Enter the serial number" ng-model="sn" required></div>
                                <div class="col-md-3"><span ng-show="frm.sn.$dirty && frm.sn.$error.required">Field required!</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">Color:</div>   
                                <div class="col-lg-6"><input type="text" id="color" name="color" placeholder="Enter the color" ng-model="color" required></div>
                                <div class="col-md-3"><span ng-show="frm.color.$dirty && frm.color.$error.required">Field required!</span></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">Kilometers:</div>     
                                <div class="col-lg-6"><input type="text" id="km" name="km" placeholder="Enter the kilometers(optional)" ng-model="km"></div>
                                <div class="col-md-3"></div>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="saveCar" type="button" ng-click="carSave()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal carends-->

                </div>
            </div>
        </div>
    </div>
    <!--container ends--> 
</section>
<!--content ends--> 
<!--Footer Start-->
<div class="clearfix"></div>
<section class="copyright-wrap padding-bottom-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20"><a href="/">
                    <h1>Car-Fix</h1>
                    <span>Garage</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <p><br>Copyright &copy; 2015 Car-Fix Garage.  All rights reserved.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul class="social margin-bottom-25 md-margin-bottom-25 sm-margin-bottom-20 xs-margin-bottom-20 margin-right-50 md-margin-right-50 sm-margin-right-40 xs-margin-right-40 xs-padding-top-10 clearfix">
                    <li><a class="sc-1" href="#"></a></li>
                    <li><a class="sc-2" href="#"></a></li>
                    <li><a class="sc-5" href="#"></a></li>
                    <li><a class="sc-8" href="#"></a></li>
                    <li><a class="sc-9" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="back_to_top"> <img src="img/arrow-up.png" alt="scroll up" /> </div>
<!-- Bootstrap core JavaScript --> 
<script src="js/retina.js"></script> 
<script type="text/javascript" src="js/jquery.parallax.js"></script> 
<script type="text/javascript" src="js/jquery.inview.min.js"></script> 
<script src="js/main.js"></script> 
<script type="text/javascript" src="js/jquery.fancybox.js"></script> 
<script src="js/modernizr.custom.js"></script> 
<script defer src="js/jquery.flexslider.js"></script> 
<script src="js/jquery.bxslider.js" type="text/javascript"></script> 
<script src="js/jquery.selectbox-0.2.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/jquery.mousewheel.js"></script> 
<script type="text/javascript" src="js/jquery.easing.js"></script>
</body>
</html>