<!doctype html lang="en">
<html ng-app = "carfix">
	<head>
		<title>CarFix</title>
		<meta charset="UTF-8">
		<meta name="description" content="CarFix main webpage">
		<meta name="keywords" content="Cars, mechanical, workshop">
		<meta name="author" content="yayohack@gmail.com">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="img/icon.png" />
		<script src="js/angular.js"></script>
    	<script src="js/app.js"></script>
    	<script src="js/jquery-1.11.2.js"></script>
      	<script src="js/bootstrap.js"></script>
      	<link href="css/bootstrap.css" rel="stylesheet">
      	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      	<link href="css/logo-nav.css" rel="stylesheet">
      	<link href="css/half-slider.css" rel="stylesheet">
      	<link href="css/custom.css" rel="stylesheet">
	</head>

	<body ng-controller="getData" background="img/bg.png">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header" >
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						
					</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#">Clients</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, User <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Account information</a></li>
								<li class="divider"></li>
								<li><a href="#">Log out</a></li>
							</ul>
						</li>
					</ul>
				</div> <!-- /.navbar-collapse -->
			</div> <!-- /.container -->
		</nav>

		<!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
			<!-- Wrapper for Slides -->
			<div class="carousel-inner">
				<div class="item active">
					<!-- Set the first background image using inline CSS below. -->
					<div class="fill" style="background-image:url('http://mecanicaonline.com.mx/images/Viperke2.jpg');"></div>
				</div>
				<div class="item">
					<!-- Set the second background image using inline CSS below. -->
					<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Promocion 2');"></div>
				</div>
				<div class="item">
					<!-- Set the third background image using inline CSS below. -->
					<div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Promocion 3');"></div>
				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="icon-next"></span>
			</a>
    </header>
    <br>
		<div class="container" id="rcorners1">
			<div class="row" style="margin-top:25px;">
				<div class="col-lg-4">
					<form>
						<div class="form-group">
				    		<div class="input-group">
				        		<div class="input-group-addon"><i class="fa fa-search"></i></div>
				        		<input type="text" class="form-control" placeholder="Search a client" ng-model="searchClient">
				      		</div>      
				    	</div>
					</form>
				</div>
				
			<div class="row">
				<div class="col-lg-12">	
					<table class="table table-bordered table-striped" style="margin-top:10px;">
				    <thead>
				      <tr>
				        <td>
				          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
				            Name
				            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
				          </a>
				        </td>
				        <td>
				          <a href="#" ng-click="sortType = 'address'; sortReverse = !sortReverse">
				          Address
				            <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
				          </a>
				        </td>
				        <td>
				          <a href="#" ng-click="sortType = 'phone'; sortReverse = !sortReverse">
				          Phone
				            <span ng-show="sortType == 'phone' && !sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'phone' && sortReverse" class="fa fa-caret-up"></span>
				          </a>
				        </td>
				          <td>
				          <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
				          Email
				            <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
				            <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
				          </a>
				        </td>
				      </tr>
				    </thead>

				    <tbody>
				      <tr ng-repeat="cliente in clientes | orderBy:sortType:sortReverse | filter:searchClient">
				        <td class="showName">{{cliente.name}} <button class="edit fa fa-pencil-square-o"> <button class="delete fa fa-trash-o" ng-click="delete(cliente.name)"></button></td>
				        <td>{{cliente.address}}</td>
				        <td>{{cliente.phone}}</td>
				        <td>{{cliente.email}}</td>
				      </tr>
				    </tbody>
		  		</table>
		  		<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-lg fa fa-plus-square fa-5x" data-toggle="modal" data-target="#myModal">
				</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Adding new client</h4>
				      </div>
				      <div class="modal-body">
				      	<ul>
		                    <li class="err" ng-repeat="error in errors"> {{ error}} </li>
		                </ul>
		                <ul>
		                    <li class="info" ng-repeat="msg in msgs"> {{ msg}} </li>
		                </ul>
				      	<form>
				       		<label for="id">Name:</label> <input type="text" id="name" name="name" placeholder="Enter the name" ng-model="name" required><br>
				       		<label for="address">Address:</label><input type="text" id="address" name="address" placeholder="Enter the address"ng-model="address" required><br>
				       		<label for="phone">Phone:</label><input type="number" id="phone" name="phone" placeholder="Enter the phone" ng-model="phone" required><br>
				       		<label for="email">Email:</label><input type="email" id="email" name="email" placeholder="Enter the email (optional)" ng-model="email">
				       	</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button id="save" type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				      </div>
				    </div>
				  </div>
				</div>
		  	</div>
	  	</div>
	</div>
	</body>
</html>